mat-sidenav,
mat-sidenav mat-toolbar {
  // background-color: #ebedef;
}

:host {
  display: block;
  position: relative;
}

mat-sidenav {
  --mdc-list-list-item-one-line-container-height: 32px;
  --mdc-list-list-item-label-text-font: 'Roboto Flex', Roboto;
  border-radius: 0;
  width: 224px;

  ::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .additional-links {
    --mdc-list-list-item-one-line-container-height: 40px;
  }
}

mat-sidenav.mat-drawer-opened.mat-drawer-over {
  width: 256px;
}

@media (min-width: 1280px) {
  mat-sidenav.mat-drawer-side {
    width: 256px;
  }
}

mat-toolbar {
  // font-weight: 600;
  //   font-family: 'Roboto';
  flex: 0 0 auto;
}

mat-sidenav .content {
  flex: 1;
}
