<plg-layout-viewport>
  @let containerHeight = layoutHeight();
  @let items = layoutItems();

  <plg-layout [height]="containerHeight">
    @for (item of items; track item.data.id; let index = $index) {
      <plg-layout-item
        [geometry]="item.box"
        [plgViewTransition]="item.data.id"
        class="bg-gray-200"
      >
        <a class="relative" [routerLink]="['', 'photos', item.data.id]">
          <div class="sr-only opacity-0">
            View image {{ index + 1 }} in full detail
          </div>
          @defer (on viewport) {
            <img
              [src]="item.data.thumbnail.src"
              [width]="item.box.width"
              [height]="item.box.height"
              fetchpriority="high"
              [alt]="item.data.alt"
            />
          } @loading (minimum 500ms) {
            <div
              class="bg-gray-200"
              [style.width.px]="item.box.width"
              [style.height.px]="item.box.height"
            ></div>
          } @placeholder {
            <div
              class="bg-gray-200"
              [style.width.px]="item.box.width"
              [style.height.px]="item.box.height"
            ></div>
          }
        </a>
      </plg-layout-item>
    }
  </plg-layout>
</plg-layout-viewport>
