<plg-layout-viewport>
  @let containerHeight = layoutHeight();
  @let items = layoutItems();

  <plg-layout [height]="containerHeight">
    @for (item of items; track item.data.id; let index = $index) {
      <plg-layout-item [geometry]="item.box" [plgViewTransition]="item.data.id">
        <a class="relative" [routerLink]="['', 'photos', item.data.id]">
          <plg-layout-image
            [width]="item.box.width"
            [height]="item.box.height"
            [src]="item.data.thumbnail.src"
          >
          </plg-layout-image>
          <div class="sr-only opacity-0">
            View image {{ index + 1 }} in full detail
          </div>
        </a>
      </plg-layout-item>
    }
  </plg-layout>
</plg-layout-viewport>
